body {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#header {
    background-color: #1f2937;
}

.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: auto;
}

.header-top {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}


.logo {
    width: 80px;
    height: auto;

}

.website-intro {
    font-size: 48px;
    font-weight: bold;
    color: #f9f1f8;

}

.website-description, a {
    font-size: 18px;
    color: #e5e7eb;

}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    
    
}

a{
    text-decoration: none;
}

.right-links {
    align-self: center;
}
.right-links :hover {
    color:  #3882f6;;
}


.main-img {
    width: 330px;
    height: auto;
    padding-right: 40px;

    
}

.header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    gap: 140px;
    padding-bottom: 80px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 330px;
    align-self: flex-start;
    justify-content: space-around;
    
}

.header-bottom button {
    background-color: #3882f6;
    width: 120px;
    padding: 10px 15px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 25px;
    border-style: none;

}


/* middle section */

.top-mid {
    padding-top: 50px;
    height: 400px;
 
}

.mid-header {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.top-mid img {
    width: 100px;
    height: auto;
    border: 3px solid #3882f6;
    border-radius: 20px;
    padding: 10px;

    
}

.weapons {
    display: flex;
    justify-content: center;
    gap: 65px;
    padding-top: 40px;
    
}
.items {
    width: 120px;
    height: 100px;
    padding: 10px;
    color: gray;
    

}

.itm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}

.top-mid a :hover {
    background-color: #3882f6;
}

/* quote section */

.quote-section-box {
    height: 500px;
    background-color: #E5E7EB;
    

}

.quote-section {

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 80px;
    width: 1000px;
    margin: auto;

}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    width: 900px;
}

.author {
    align-self: flex-end;
    margin-right: 100px;
    font-weight: bold;
    font-size: 20px;   
}

#tariel-link {
    color: #3882f6;
}


/* bottom button */
.bottom-section {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up {
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882f6;
    border-radius: 20px;
    padding: 30px 70px;
    color: #f9f1f8;



}
#btn-bold-text {
    
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 3px;
}

#btn-small-text {
    color: #e5e7eb;
}

#btn {
    background-color: #3882f6;
    width: 120px;
    padding: 10px 15px;
    color: #3882f6;
    font-weight: bold;
    font-size: 16px;
    border: 3px solid white;
    border-radius: 20px;


}

.footer {
    height: 100px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}
